.idea
/administrator
!/administrator/components/com_app
/api
/cache
/cli
/components
/images
/includes
/installation
/language
/layouts
/libraries
/media
/modules
/plugins
!/plugins/system/app
/templates
/tmp
/configuration.php
/htaccess.txt
/index.php
/LICENSE.txt
/README.txt
/robots.txt.dist
/web.config.txt
