<?xml version="1.0" encoding="utf-8"?>
<extension version="3.6" type="plugin" group="system" method="upgrade">
	<name>plg_system_app</name>
	<creationDate>December 2023</creationDate>
	<version>1.0.0</version>
	<description>App</description>
	<files>
		<filename plugin="app">app.php</filename>
		<filenam>index.html</filenam>
		<filenam>.htaccess</filenam>
	</files>
</extension>
